body {
  zoom: 80%; /* масштаб страниці на 80% */
  overflow: auto;
  background-color: #ffffff;
  text-align: center;
  margin: 0; /* видалено зовнішній відступ */
  padding: 0; /* видалено внутрішній відступ */
  font-family: "Roboto", sans-serif;
}

header, nav, main {
  margin: 0; /* видалено зовнішній відступ */
  padding: 0; /* видалено внутрішній відступ */
}

nav a {
  color: #7dc222;
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
}

.img_container {
  text-align: center;
  padding: 10px;
}

.column {
  max-width: 100%;
  padding: 12px;
  text-align: center;
  font-family: "Roboto-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

.column a {
  font-size: 20px;
  background-color: #7dc222;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 3px;
  border-color: #7dc222;
}

footer {
  height: 80px;
  width: 99%; /* змінили width: 99%; */
  text-align: right;
}
